<!-- blog.html -->
    <div class="jumbotron text-center">
        <h1>Blog Page</h1>

        <p>{{ message }}</p>
    </div>
    
    <div class="card">
    <div class="blogDiv" ng-controller="firebaseBlogController">
    <ul>
      <li ng-repeat="blog in blogs | orderBy:'-dateTime'">
        <!-- prints a blog post -->
        <h2>{{blog.blog.title}}</h2>
        <h3>{{blog.blog.author}}</h3>
        <p>{{blog.blog.body}}</p>
        <p>{{blog.blog.dateTime | date:'EEE MMM d, y hh:mma'}}</p>
      </li>
    </ul>
   
  </div>
  </div>
