<!-- blog.html -->
    <div class="jumbotron text-center">
        <h1>Contact Page</h1>

        <p>{{ message }}</p>
    </div>
    
    <div class="card">
    <div class="blogDiv" ng-controller="firebaseContactController">
    <ul>
      <li ng-repeat="contact in contacts | orderBy:'-dateTime'">
        <!-- prints a blog post -->
        <h2>{{contact.contact.name}}</h2>
        <h3>{{contact.contact.email}}</h3>
        <p> {{contact.contact.comment}}</p>
        <p> {{contact.contact.dateTime | date:'EEE MMM d, y hh:mma'}}</p>
      </li>
    </ul>
   
  </div>
  </div>
