<div class="tipCalcDiv">        
<!-- contact.html -->
    <div class="jumbotron text-center">
        <h1>Tip Calculator</h1>

        <p>{{ message }}</p>
    </div>
      
    <div class="tipCalcContent">
        <div class="tipCalcImages">
            <img src="img/tipCalcSS1.png" alt="image 1 of tip Calculator Application" width= "200px" height="auto">  
            <img src="img/tipCalcSS2.png" alt="image 2 of tip Calculator Application" width= "200px" height="auto">

        </div>
        <div class="tipCalcText">
            <h2>Synopsis</h2>
            <p></p>
            <p>Tip Calculator (lite) is our first app. The app allows you to input the amount of your bill, set your tip percentage, 
             and split the bill (if necessary). We have only just started on this project and look forward to adding new and exciting features!</p>
              <a href="https://play.google.com/store/apps/details?id=com.musoft.nick.tipcalculator&hl=en">Tip Calculator (Lite) on Google Play</a>
        </div>
    </div>
</div>